<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
    <title>User</title>
</head>
<body>
    <div class="container">
        <div class="row">
            <h1>User Information</h1>
        </div>
    </div>
    <form th:action="@{/user-ui/save-user}" th:object="${user}" method="post">
        <div class="form-group">
            <label for="id">Id:</label>
            <input th:field="*{id}" type="text" class="form-control" id="id" disabled/>
        </div>
        <div class="form-group">
            <label for="name">Name:</label>
            <input th:field="*{name}" type="text" class="form-control" id="name" />
            <label th:style="'color:red'" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></label>
        </div>
        <div class="form-group">
            <label for="id">Hiring Date:</label>
            <input th:field="*{hiringDate}" type="date" class="form-control" id="hiringDate" th:value="${#dates.format(hiringDate, 'yyyy-MM-dd')}"/>
            <label th:style="'color:red'" th:if="${#fields.hasErrors('hiringDate')}" th:errors="*{hiringDate}"></label>
        </div>
        <a th:href="@{/user-ui/users}">
            <button type="button" class="btn btn-danger">Cancel</button>
        </a>
        <button type="submit" class="btn btn-success">Save</button>
    </form>
</body>
</html>